@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* from heropatters.com */
body{
    background-color: #ffeee6;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d2b27e' fill-opacity='0.4'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#container{
    background-color: rgb(202, 174, 137);
    width: 60%;
    height: 100vh;
    margin: 0px auto;
    border-left: 4px solid rgba(122, 68, 18, 0.822);
    border-right: 4px solid rgba(122, 68, 18, 0.822);
}

h1{
    text-align: center;
}

#albumList{
    width: 90%;
    margin: 0px auto;
    min-height: 90%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding-top: 25px;
}

.albumBox{
    background-color: rgba(201, 126, 14, 0.753);
    height: 275px;
    width: 200px;
    margin: 10px;
    padding: 6px;
    text-align:center;
}

.albumBox > img{
    width: 100%;
}

h3{
    color: rgb(44, 44, 44);
}